@{
    ViewData["Title"] = "EMP's BBQ";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO EMP's BBQ!</h1>
    <div>
        <h3>MENU</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/Items/Index">ITEMS</a></div>
        </div>
    </div>
</div>