@model ItemsViewModel
@using MenuItems.DataAccess.EF.Models
@{
    ViewData["Title"] = "EMP's BBQ | MENU";
}



<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
initial-scale=1" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    />
    <title>EMP's BBQ'</title>
</head>

<div class="home-body">
   
    <div class="home-container w3-display-middle w3-center">
        <h1 class="display-4 w3-text-white" style="font-size:90px">Welcome To EMP's Famous BBQ </h1>
        <div class="home-content">
            <div class="home-menu">
                <p><a href="~/Items/Index" class="home-content w3-button w3-xxlarge w3-black ">MENU</a></p>
            </div>
        </div>
        <div class="w3-display-bottomright">
            <span class="w3-text-white"></span>
        </div>
    </div>
</div>



    
