@model CartsViewModel

<div id="Cart" class="w3-container menu w3-padding-32 w3-white w3-margin-bottom">
    @foreach (var cartItem in Model.CartItems)
    {
        <div class="cart-details">
            <p>@cartItem.Item</p>
            <p>@cartItem.Price</p>
            <button onclick="addToCart(@cartItem.Item)">Add To Cart</button>
        </div>
    }
</div>

@* <p>Total: @Model.GetCartTotal(context)</p> *@

<script>
    function removeFromCart(itemId) {
        // Implement the logic to call the server and remove the item from the cart
    }
</script>